.content {
    display: block;
    max-width: 600px;
    margin: 80px auto;
    padding: 70px;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
}

.dark {
    background-color: #333;
    color: white;
}

h1 {
    margin: auto;
    text-align: center;
    letter-spacing: .2rem;
}

h4 {
    color: #006EB6;
    text-align: center;
    letter-spacing: .2rem;
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 0;
}

.dark h4 {
    color: rgb(160, 212, 237)
}

#main-text-body {
    margin: 40px auto;
}

p {
    line-height: 1.5;
}

#byui-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 90px;
    width: 150px;   
}